* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
  color: black;

  background: rgb(237, 243, 247);
}

.header {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin:  0 auto;
  padding: 20px;

  font-size: 20px;
}

.header h1 {
  font-size: 28px;
}

.header h1, .purpose {
  text-align: center;
}

.purpose span {
  font-style: italic;
}

.content .container {
  display: flex;
  flex-direction: row;
}

.shortinformation {
  display: flex;
  flex-direction: column;

  background: rgb(158, 203, 230);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shortinformation img {
  width: 250px;
  height: 350px;
  padding: 35px;
}

.shortinformation p {
  margin: 0 8px 10px 20px;
}

.shortinformation p span {
  font-style: italic;
}

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;

  font-size: 20px;
  text-align: justify
}

.education h3, .foreignlanguages h3 {
  display: inline-block;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-style: italic;
  font-weight: bold;
}

.skills ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.skills li::before {
  content: "- ";
}

.experiance p span {
  display: block;

  font-weight: bold;
}

.qualities h4 {
  display: inline;
  font-style: italic;
  font-weight: bold;
}

.qualities p {
  display: inline;
}

.experiance h4 {
  font-style: italic;
}
